* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.container-nav {}




.ul-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.li-nav {
    color: #5AB885;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 4px 4px #0000004a;
}

.ul-nav .login-nav {
    background-color: #5AB885;
    border-style: none;
    border-radius: 10px;
    padding: 0 30px;
    font-size: 32px;
    cursor: pointer;
    transition: 0.5s;
    text-shadow: none;
    box-shadow: 0 4px 4px #0000004a;
}

.ul-nav .login-nav a {
    text-decoration: none;
    color: #FFFFFF;
}

.ul-nav .login-nav:hover {
    scale: 1.1;
}

.container-content {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#5AB885, #ECECEC);
}

.content-home-1 {
    display: flex;
    align-items: end;
}

.gambar-samping img {
    width: 350px;
}

.content-dlm {
    text-align: center;
}

.content-dlm p {
    font-size: 48px;
    max-width: 15em;
    font-weight: 550;
    color: #FFFFFF;
    text-shadow: 0 4px 4px #0000004a;
}

.content-dlm img {
    position: relative;
    width: 500px;
    top: 3em;
}

.content-dlm input {
    width: 100%;
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 5px 4px #0000004a;
    font-size: 16px;
}

#search:focus {
    outline: 2px solid #5AB885;
    outline-offset: -3px;
}

.content-dlm input::-webkit-input-placeholder {
    font-size: 18px;
    color: #a5a5a5;
}

.content-home-2 {
    display: flex;
    gap: 40px;
    flex-direction: row;
    margin: 80px 0 40px 0;
    overflow-x: auto;
    padding: 20px;
    width: 100%;

}

.content-home-2::-webkit-scrollbar {
    width: 0px;
}

.content-home-2 div {
    box-shadow: 0 0px 10px #0000004a;
    border-radius: 10px;
    transition: 0.5s;
}

.content-home-2 div:hover {
    outline: 5px solid #5AB885;
    box-shadow: 0 0px 8px 2px #5AB885;
    outline-offset: 10px;
}

.content-home-2 div img {
    width: inherit;
}

.flip-card {
    position: relative;
    perspective: 800px;
    min-width: 17.6%;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;

}

.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.flip-card-back {
    background-color: #f5f5f5;
    transform: rotateY(180deg);
    padding: 5px;
}

.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-back h3 {
    text-align: center;
    margin-top: -50%;
}

.flip-card-back table tr td {
    text-align: left;
    padding: 2px;
}


/* LOGIN */
.container-login {
    display: flex;
    background-color: #5ab88451;
    height: 860px;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.container-login div {
    position: relative;
    top: 100px;
    text-align: center;
}

div .text-login {
    font-size: 36px;
}

.div-login {
    border-radius: 20px;
    padding: 50px;
    background-color: #FFFFFF;
    width: auto;
    height: 400px;
    box-shadow: 0 5px 4px #0000004a;
}

.div-login p {
    font-size: 20px;
    padding-bottom: 50px;
}

.div-login form input {
    display: block;
    width: 500px;
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.5s;
    ;
}

.div-login form input:focus {
    box-shadow: 0 5px 4px #5AB885;
}

#masuk {
    display: inline-block;
    position: relative;
    width: 140px;
    margin-bottom: 0;
    margin-top: 20px;
    right: -120px;
    border: none;
    background-color: #5AB885;
    color: #FFFFFF;
    font-weight: bold;
    font-size: large;
}

#masuk:hover {
    cursor: pointer;
    scale: 1.1;
}

.div-login a {
    display: inline-block;
    position: relative;
    left: -120px;
    text-decoration: none;
    transition: 0.5s;
}

.div-login a:hover {
    transform: translateX(-10px);
}

#showPw {
    width: 20px;
    display: inline;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 60px;
    top: 52%;
    height: 20px;
}

#showPw:hover {
    cursor: pointer;
}

/* DASHBOARD */
.nav-dashboard {
    background-color: #5AB885;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-dashboard div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

label {
    color: #FFFFFF;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}

label img {
    max-width: 35px;
}

label:hover {
    transform: translateY(-10px);
}

#togel, #menu {
    display: none;
}

.menu-drop {
    max-width: 240px;
    background-color: #5AB885;
    position: fixed;
    display: none;
    height: 1000px;
    left: 0;
    top: 80px;
}

.list {
    list-style-type: none;
}

.active {
    background-color: #54A77A;
}

.list li {
    padding: 20px 0 20px 40px;

}

.list li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;

}

#togel:checked~#menu {
    display: inline-flex;
    align-items: start;
}

#icon-menu {
    display: inline-block;
    position: relative;
}

#togel:checked~#icon-menu {
    display: none;
}

#icon-drop {
    display: none;
}

#togel:checked~#icon-drop {
    display: inline-block;
    position: relative;
}

.logo-dashboard a, .logout a {
    color: #FFFFFF;
    text-decoration: none;
}

.logout {
    border-radius: 10px;
    transition: 0.5s;
    padding: 0 !important;
}

.logout img {
    width: 50px;
}

.logout a {
    font-weight: bold;
    font-size: x-large;

}

.logout:hover {
    scale: 1.2;
}

/* dasboard-konten */
.container-dashboard {
    position: relative;
    top: 88px;
    max-width: 100%;
    background-color: #ECECEC;
    min-height: 100vh;
    overflow: hidden;
    margin-bottom: 80px;

}

.div-dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5vh;
}

.card-dashboard {
    font-size: x-large;
    display: flex;
    position: relative;
    text-align: center;
    background-color: #FFFFFF;
    width: 350px;
    height: 100px;
    padding: 8px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0px #a5a5a59b;
}

.card-dashboard div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-dashboard div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-90%);
    transition: transform 0.5s ease;
}

.card-dashboard:hover div img {
    transform: translateX(0);
}

.underline {
    width: 88%;
    height: 5px;
    background-color: #5AB885;
    margin: auto;
}

.div-text {
    padding: 80px;
    font-weight: bold;
    font-size: 5vh;
    color: rgb(74, 72, 72);
}

.card-dashboard2 {
    display: flex;
    text-align: center;
    background-color: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-div {
    perspective: 800px;
    display: inline-block;
    margin-bottom: 40px;
}

.card-div .caver-div {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    box-shadow: 0 0 10px #a5a5a5;
    border-radius: 10px;

}

.card-div .front-caver, .card-div .back-caver {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
}

.card-div .front-caver {
    transform: rotateY(0deg);
}

.card-div .back-caver {
    background-color: #FFFFFF;
    transform: rotateY(-180deg);
}

.card-div:hover .caver-div {
    transform: rotateY(180deg);
}

.card-div .front-caver img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.back-caver h3 {
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 30%;
}

#tb-ds {
    margin: auto;
    padding: auto;
}

#tb-ds tr td {
    text-align: left;
}

#tb-ds tr:nth-child(odd) {
    background-color: #5ab8847c;
}

/* Data Angota */
.container-anggota {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 5px;
    flex-wrap: wrap;
}

.div-tombol {
    padding-top: 20px;


}

.container-anggota .div-tombol a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #F39C12;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0px #a5a5a5;
    transition: ease-in-out 0.8s;
}

.container-anggota .div-tombol a:hover {
    background-color: #306247;

}

.div-carianggota {
    width: 50%;
}

.div-carianggota input {
    width: 80%;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 5px 0px #a5a5a5;
}

.div-carianggota button {
    display: inline-block;
    width: 40px;
    position: relative;
    top: 15px;
    left: -50px;
    transition: 0.5s;
    box-shadow: none;
    background-color: transparent;
    border: unset;
}

.div-carianggota img {
    width: inherit;
    cursor: pointer;
}

.div-carianggota img:hover {
    scale: 1.3;
}

.div-table {
    overflow-x: auto;
    margin: 0 30px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

table, th, td {
    border: 2px solid #fffefe;
    border-collapse: collapse;
    text-align: center;
    text-transform: capitalize;
}

th {
    padding: 20px;
}

td {
    padding: 10px;
}

.table {
    width: 100%;
    box-shadow: 0 5px 5px 0px #a5a5a5;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #70ad473d;
}

.tr-head {
    background-color: #5AB885 !important;
}

.tr-body {
    background-color: #ECECEC;
}

.tr-body:hover {
    outline: 2px dashed black;
    outline-offset: -10px;
}

#pm:nth-child(odd) {
    background-color: #ECECEC;
}

#pma {
    cursor: pointer;
}

.tr-body .aksi a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #5AB885;
    border-bottom: 5px solid #FFFFFF;
    padding: 10px 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    transition: ease-in-out 0.8s;
    font-weight: bold;
}

.tr-body .aksi a[id="hapus"] {
    background-color: #E21F1F;
}

.tr-body .aksi a:hover {
    color: #F39C12;
    background-color: #448c65;
}

.tr-body .aksi a:hover[id="hapus"] {
    color: #F39C12;
    background-color: #b41818;
}

.div-nextpage {
    height: 8vh;
    display: flex;
    justify-content: center;
}

.div-nextpage div {
    margin: 1px;
}

.next-page {
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.colordarkGreen {
    background-color: #448c65;
}

.colorGreen {
    background-color: #5AB885;
}

/* tambah anggota/buku, edit anggota/buku */
.kembali {
    background-color: #F39C12 !important;
    font-size: 20px !important;
}

.logo-anggota {
    font-size: 30px !important;
}

.background-tambahagt {
    background: #5AB885 url("aset/gambar/tambahAgt.png")no-repeat;
}

.background-tambahbuku {
    background: #5AB885 url("aset/gambar/orangbawabuku.png")no-repeat;
}

.container-tbh-agt {
    display: flex;
    justify-content: center;
    background-position: calc(50% - 525px) calc(65%);
    padding: 100px;
    width: 100%;
}

.div-tbh-agt {
    background: #ECECEC url("aset/gambar/catjatuh.png")no-repeat;
    background-position: top;
    background-size: 100%;
    border-radius: 35px;
    box-shadow: inset 0px 0px 20px 0px #306247;
}

.p-tbh-agt {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 20px 0 10px;
}

.form-tbh-agt {
    display: flex;
    padding: 20px;
    gap: 30px;

}

.div-intbh-agt {

    box-shadow: 0px 0px 20px 0px inset rgba(0, 0, 0, 0.467);
    backdrop-filter: blur(4px);
    width: 50%;
    padding: 30px;
    border-radius: 20px;
}

.div-intbh-agt p {
    font-size: 20px;
    font-weight: bold;
}

.div-intbh-agt label, .div-intbh-agt input {
    display: block;
}

.div-intbh-agt label {
    color: black;
    font-size: 20px;
}

.div-intbh-agt label:hover {
    transform: none;
}

.div-intbh-agt input {
    width: 90%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #5AB885;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 1, 0.312);
}

.input-gender-agt, .label-gender-agt {
    display: inline-block !important;
}

.div-intbh-agt .input-gender-agt {
    width: 20px;
    margin-bottom: 0px;
    box-shadow: none;
    height: 20px;
}

.div-intbh-agt .label-gender-agt {
    font-size: 20px;
    font-weight: 400;
}

.div-intbh-agt input[type="file"] {
    box-shadow: none;
    border: none;
}

.div-submit-agt {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.submit-tbh-agt {
    border: none;
    background-color: #5AB885;
    padding: 20px 30px;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px inset rgba(6, 6, 6, 0.663);
    transition: 0.5s;
}

.submit-tbh-agt:hover {
    box-shadow: 0px 0px 5px 0px inset rgba(255, 255, 255, 0.663);
    scale: 1.1;
}


/* pinjam dan kembalikan buku */
.div-pmn-buku {
    padding: 30px 0px 0 5%;
    background: url("aset/gambar/rakBuku.png")no-repeat;
    background-size: 400px;
    background-position: calc(100% - 200px) calc(100%);
}

.div-pmn-buku label {
    color: black;
    display: block;
    font-weight: 500;
    padding-top: 20px;
    font-size: 20px;
}

.div-pmn-buku label:hover {
    transform: none;
}

.div-pmn-buku label, .div-pmn-buku input {
    margin-left: 20px;
}

.div-pmn-buku input {
    width: 400px;
    height: 45px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid #5AB885;
    box-shadow: 0px 4px 4px 0px #a5a5a5;
}

.div-pmn-buku select {
    margin-left: 20px;
    width: 400px;
    border-radius: 5px;
    padding-left: 20px;
    height: 45px;
    border: 1px solid #5AB885;
    box-shadow: 0px 4px 4px 0px #a5a5a5;
}

.div-pmn-buku input[name="tgl-pjm"], .div-pmn-buku input[name="tgl-pgl"] {
    border-radius: 10px;
    background: url("aset/gambar/Rectangle\ 131.png")no-repeat;
    background-size: 35px;
    background-position: calc(100% - 5px);
    display: block;
    background-color: #FFFFFF;
}

.div-pmn-buku h3 {
    font-size: 30px;
    text-shadow: 0 4px 4px #a5a5a5;
}

#peminjaman, #pengembalian {
    margin-top: 30px;
    width: 30px;
    height: 25px;
}

.div-pmn-buku .label-pmn {
    display: inline-block;
    margin-left: 0px;
}

.div-pmn-buku input[name="simpan"] {
    width: 140px;
    height: unset;
    position: relative;
    right: -260px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

.div-pmn-buku input[name="simpan-pmn"]:hover {
    scale: 1.1;
    transition: 0.5s;
}

/* footer */
.footer-home {
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;

}