* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

.container-nav {
   
}

.ul-nav {
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.li-nav {
    color: #5AB885;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 4px 4px #0000004a;
}
#logo{
    position: relative;
    animation: logo 2s linear 1s infinite alternate;
    
}
@keyframes logo {
    25%{
        top: 0;
    }
    
    50% {
        top: -5px;
        scale: 1.3;
    }
    100% {
        top: 0px;
    }  
}

.ul-nav .login-nav {
    background-color: #5AB885;
    border-style: none;
    border-radius: 10px;
    padding: 0 30px;
    font-size: 32px;
    cursor: pointer;
    transition: 0.5s;
    text-shadow: none;
    box-shadow: 0 4px 4px #0000004a;
}
.ul-nav .login-nav a{
    text-decoration: none;
    color: #FFFFFF;
}

.ul-nav .login-nav:hover {
    scale: 1.1;
}

.container-content {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#5AB885, #ECECEC);
}

.content-home-1 {
    display: flex;
    align-items: end;
}

.gambar-samping img {
    width: 350px;
}

.content-dlm {
    text-align: center;
}

.content-dlm p {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 15em;
    font-weight: 550;
    color: #FFFFFF;
    text-shadow: 0 4px 4px #0000004a;
}

.content-dlm img {
    position: relative;
    width: 500px;
    top: 3em;
}

.content-dlm input {
    width: 100%;
    padding: 20px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 5px 4px #0000004a;
}

#search:focus {
    outline:2px solid #5AB885;
    outline-offset: -3px;
}
.content-dlm input::-webkit-input-placeholder {
    font-size: 18px;
    color: #a5a5a5;
}
.content-home-2 {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin:80px 0 40px 0;
}
.content-home-2 div {
    box-shadow: 0 0px 10px #0000004a;
    overflow: hidden;
    width: 200px;
    border-radius: 10px;
    transition: 0.5s;
}
.content-home-2 div:hover{
    scale: 1.1;
    outline: 5px solid #5AB885;
    box-shadow: 0 0px 8px 2px #5AB885;
    outline-offset: 10px;
}
.content-home-2 div img {
    width: inherit;
}


 /* LOGIN */
.container-login{
    display: flex;
    background-color:#5ab88451 ;
    height: 860px;
    gap:50px;
    flex-direction: column;
    align-items: center;
}
.container-login div{
   position: relative;
   top : 100px;
   text-align: center;
}

div .text-login{
    font-size: 36px;
}
.div-login{
    border-radius: 20px;
    padding: 50px;
    background-color: #FFFFFF;
    width: auto;
    height: 400px;
    box-shadow: 0 5px 4px #0000004a;
}
.div-login p{
    font-size: 20px;
    padding-bottom: 50px;
}

.div-login form input {
    display: block;
    width: 500px;
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.5s;;
} 
.div-login form input:focus{
    box-shadow: 0 5px 4px #5AB885;
}
#masuk{
    display: inline-block;
    position: relative;
    width: 140px;
    margin-bottom: 0;
    margin-top: 20px;
    right: -120px;
    border: none;
    background-color: #5AB885;
    color: #FFFFFF;
    font-weight: bold;
    font-size: large;
}
#masuk:hover{
    cursor: pointer;
    scale: 1.1;
}
.div-login a {
   display: inline-block;
   position: relative;
   left: -120px;
   text-decoration: none;
   transition: 0.5s;
}
.div-login a:hover{
    transform: translateX(-10px);
}


/* DASHBOARD */
.nav-dashboard{
    background-color: #5AB885;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-dashboard div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
}
label {
    color: #FFFFFF;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}
label img{
    max-width: 35px;
}
label:hover{
transform: translateY(-10px);
}
#togel, #menu{
    display: none;
}
.menu-drop{
    max-width: 240px;
    background-color: #5AB885;
    position: fixed;
    display: none;
    left: 0;
    top:80px;
}
.list{
    list-style-type: none;
}
.list .aktive{
    background-color: #54A77A;
}
.list li{
    padding: 20px 0 20px 40px;
    
}

.list li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    
}
#togel:checked ~ #menu{
    display: inline-flex;
    align-items: start;
}

#icon-menu{
    display: inline-block;
    position: relative;
}
#togel:checked ~ #icon-menu{
    display: none;
}
#icon-drop{
    display: none;
}
#togel:checked ~ #icon-drop{
    display: inline-block;
    position: relative;
}
.logo-dashboard a,.logout a{
    color: #FFFFFF;
    text-decoration: none;
}
.logout{
    background-color: #E21F1F;
    border-radius: 10px;
    box-shadow: 0 5px 4px #0000004a;
}
.logout a{
    font-weight: bold;
    font-size: x-large;
}
/* dasboard-konten */
.container-dashboard{
    position: relative;
    top:88px;
    max-width: 100%;
    background-color: #ECECEC;
}

.div-dashboard{
    display: flex;
    justify-content: space-around;
    padding: 60px 40px 20px 40px;
}
.card-dashboard{
    font-size: x-large;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    width: 25%;
    gap: 20px;
}
.underline{
    width: 88%;
    height: 5px;
    background-color: #5AB885;
    margin: auto;
}
.div-text{
     padding: 80px ;
     font-weight: bold;
     font-size: x-large;
}
 .card-dashboard2{
    display: flex;
    text-align: center;
    background-color: none;
    justify-content: space-evenly;
    padding: 10px 40px 40px;
 }
 .card-div{
    background-color: #FFFFFF;
    width: 20%;
    max-height: 500px;
    border-radius: 20px;
    overflow: visible;
 }
 .card-div img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    aspect-ratio: 4/4;
    object-fit: fill;
 }
 .card-div p{
    word-wrap: break-word;
    padding: 10px;
 }